.modal{
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.9);
  z-index: 10;
  overflow-y: scroll;
  /* padding-top:2rem; */
  min-height:100vh;
}
.modal-content{
  width: 80%;
  max-width:1220px;
  position: relative;
}
.modal-content ul{
  display: flex;
  justify-content: center;
}
.letter > *{
  background: transparent;
  border: none;
}

.close-button {
  position: absolute;
  top:0;
  right:0;
  background-color: transparent;
  border:none;
  color:white;
}


