ul{
  font-family: 'Cutive Mono', monospace;
  text-transform: uppercase;
  margin: 0;
  padding:0;
  display: flex;
  font-family: 'Cutive Mono', monospace;
  margin: .1rem 0;
  padding:.3rem;
}

ul li{
  display: flex;
  flex-direction:column;
  text-align: center;
}

.inactive{
  opacity:.7;
}
.invisible{
  visibility: hidden;
}

.visible{
  visibility: visible;
}

button{
  font-family:monospace;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

/* Quip styles */
.quip{
  font-size: 2rem;
  flex-wrap:wrap;
}

.quip button{
  margin: .1rem 0;
  padding:.3rem;
  background-color: transparent;
  border:1px solid orchid;
  color:white;
  border:none;
}

.quip ul {
  margin-right:1rem
}

.highlight button:first-of-type{
  color:mediumorchid;
}
.highlight button:nth-of-type(2n){
  color:pink;
}

/* Alphabet styles */

.alphabet{  
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
}
.alphabet button{
  padding:0rem 1rem;
  margin:2px;
  background-color: #242424;
  color:white;  
  border:1px solid purple;
}

.alphabet button.inactive{
  border: 1px dotted;
  background-color: #242424;
}

/*  Footer container */
.game-actions{
  display: flex;
  justify-content: space-around;
  margin-top:1rem;
}

@media all and (max-width:500px) {
  .button-container{
    flex-wrap:wrap;
  }

  .button-container button{
    margin-bottom:1rem;
    width:40%;
  }
  .modal-content{
    margin-top:10rem;
  }
}

