ul{
  font-family: 'Cutive Mono', monospace;
  text-transform: uppercase;
  margin: 0;
  padding:0;
  list-style-type: none;
  display: flex;
  font-family:monospace;
  font-weight: bold;
  font-size: 2rem;
}
ul li{
  display: flex;
  flex-direction:column;
  text-align: center;
}

.inactive{
  opacity:.7;
}
.invisible{
  visibility: hidden;
}
.visible{
  visibility: visible;
}

ul.quip{
  font-size: 2rem;
  flex-wrap:wrap;
}

ul.quip ul {
  margin-right:1rem
}

.highlight{
  color:mediumorchid;
}

.alphabet{  
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
}
.alphabet li {
  padding:0 1rem;
  border:1px solid mediumorchid;
  margin:2px;
}

.alphabet li.inactive{
  border: 1px dotted;

}

.button-container{
  display: flex;
  justify-content: space-around;
  margin-top:1rem;
}

@media all and (max-width:500px) {
  .button-container{
    flex-wrap:wrap;
  }

  .button-container button{
    margin-bottom:1rem;
    width:40%;
  }
  .modal-content{
    margin-top:10rem;
  }
}

