html{
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
} 
body {
  margin: 0;
} 
main{
  padding:4% 6%;
}
h1{
  font-size: 1rem;
}
button{
  font-family:monospace;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: #ffa700;
}

a:hover {
  color: white
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


@media all and (max-width:500px) {
  body{
    font-size: 1.4rem;
  }
}